<div class="item-content" stl="height:370,width:350,border-radius:10,margin:20 0 0 20">
	<div class="picture" ng-style="{'background-image': 'url({{item.Image}})'}"
		 stl="height:230,width:330,background-size:contain,margin:10">
	</div>

	<div class="title" stl="font-size:23,width:320,margin:15">{{item.Title}}
	</div>

	<div class="item-base" stl="height:60">
		<div class="cost" stl="font-size:26,bottom:10,right:20,height:40,width:160,line-height:40,border-radius:10">
			{{item.Cost}}
		</div>
		<div class="common_rate" ng-style="{
							'width': 5*Math.floor(22*scale)+'px',
							height: Math.floor(21*scale)+'px',
							'background-size':Math.floor(22*scale)+'px auto'
									}"
			 stl="bottom:22,left:20">
			<div id="rate" ng-style="{width:(item.Rate / 5) * 100+'%'}" stl="background-size:auto 21"></div>
		</div>

	</div>

</div>
