<div class="landing-header"
	 ng-style="{
	 }" >
	<div stl="font-size:22, padding:20">
		This is a demo application that grabs "Daily Deals" from ebay.com every hour and shows result in custom interface with ability to filter
		<br>
			This demo uses <a href="http://casperjs.org/">CasperJS</a> and <a href="http://phantomjs.org/">PhantomJS</a> , <a href="http://angularjs.org/">AngularJS</a> on client-side and <a href="https://nodejs.org/">NodeJS</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="http://casperjs.org/">CasperJS</a>, <a href="http://phantomjs.org/">PhantomJS</a>, <a href="http://mongoosejs.com/">Mongoose</a>,<a href="https://www.mongodb.com/"> MongoDB</a> , <a href="https://nodejs.org/api/crypto.html">Crypto</a>, <a href="http://socket.io/">Socket.io</a> on server-side.
	</div>
	<search-panel></search-panel>

</div>